.name {
    color: rgb(11, 24, 127);
  }
  #card2 {
    max-width: 540px;
    background-color: black;
    margin-left: 325px;
  }
  .per {
    height: 150px;
    width: 150px;
    margin-top: 10px;
  }